<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/static/css/login.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cloud Notes - login</title>
    </head>
    <body>
        <div class="main">
            <a>Cloud Notes</a>
            <input class="email" placeholder="e-mail" type="email">
            <input class="pwd" placeholder="password" type="password">
            <div class="msg">
                {{if .NewAcc}}
                    <a style="color: black;">New account created!</a>
                {{end}}
                {{if .WrongCred}}
                    <a style="color: red;">Wrong username or passwrd!</a>
                {{end}}
                {{if .ConfMail}}
                    <a style="color: black;">Email confirmed!</a>
                {{end}}
            </div>
            <div class="buttons">
                <a>Sign-in</a>
                <button>Entra</button>
            </div>
        </div>
        <div class="loadDiv">
            <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 0 0" xml:space="preserve">
                    <path fill="#000000" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                    <animateTransform 
                        attributeName="transform" 
                        attributeType="XML" 
                        type="rotate"
                        dur="1s" 
                        from="0 50 50"
                        to="360 50 50" 
                        repeatCount="indefinite"
                    />
                </path>
            </svg>
        </div>
        <p>Copyright © 2022 <a href="https://github.com/berta00">berta00</a></p>
        <script src="https://unpkg.com/pure-md5@latest/lib/index.js"></script>
        <script src="/static/js/login.js"></script>
    </body>
</html>