* {
    margin: 0;
    padding: 0;
}
input {
    all: unset;
}
body {
    height: 100vh;
    width: 100%;

    background: black;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.emailCeckBanner {
    height: 30px;
    width: 100%;
    
    background: #f9ea75;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.emailCeckBanner a {
    width: calc(100% - 30px);
    margin-left: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 500;
    color: black;
}
.emailCeckBanner .cross {
    width: 40px;
    height: 30px;
}
.emailCeckBanner .cross div {
    height: 12px;
    width: 2px;
    position: absolute;

    background: black;
}

.header {
    height: 35px;
    width: 100%;

    display: flex;
    flex-direction: row;
}
.header .path {
    margin-left: 25px;

    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: 500;
    color: white;
}
.header .path .fileType {
    color: #717171;
}

.browseMainSection {
    height: 100%;
    width: 100%;
}
.browseMainSection .main {
    height: calc(100vh - 35px - 30px - 40px - 40px - 10px);
    width: calc(100% - 25px*2);
    margin-left: 25px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.browseMainSection .main .leftSection {
    height: 100%;
    width: 20%;

    background: white;
    border-radius: 20px;
}
.browseMainSection .main .centralSection {
    height: 100%;
    width: calc(80% - 20px);
    margin-left: 20px;

    background: white;
    border-radius: 20px;
}

.noteMainSection {
    height: 100%;
    width: 100%;
}
.noteMainSection .main {
    height: calc(100vh - 35px - 30px - 40px - 40px - 10px);
    width: calc(100% - 25px*2);
    margin-left: 25px;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.noteMainSection .main .leftSection {
    height: 100%;
    width: 20%;

    background: white;
    border-radius: 20px;
}
.noteMainSection .main .centralSection {
    height: 100%;
    width: calc(79% - 35px - 68px);
    margin-left: 20px;

    background: white;
    border-radius: 20px;
}
.noteMainSection .main .toolDock {
    height: auto;
    width: 68px;
    margin-left: 35px;

    background: white;
    border-radius: 20px;

    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.noteMainSection .main .toolDock div {
    height: 45px;
    width: 45px;

    border-radius: 5px;
    transition: 0.05s; /* used to animation in js */
}

/* MOBILE */
@media only screen and (max-width: 1000px) {
    .browseMainSection .main .leftSection {
        display: none;
    }
    .browseMainSection .main .centralSection {
        width: calc(100% - 20px);
        margin-left: 0;
    }
    .noteMainSection .main .leftSection {
        display: none;
    }
    .noteMainSection .main .centralSection {
        width: calc(99% - 15px - 68px);
        margin-left: 0;
    }
}
