@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    width: 100%;

    background: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 390px;
    width: 500px;

    background: white;
    border-radius: 20px;

    flex-direction: column;
    align-items: center;
}
.main img {
    margin-top: 11.8%;
    margin-bottom: 11.6%;
}
.main input {
    height: auto;
    width: calc(85% - 14px*2);
    margin-top: 2%;
    padding: 14px;

    background: black;
    border-radius: 10px;
    border: solid 0;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: white;
}
.main .inlineInput {
    height: auto;
    width: calc(85%);
    margin-top: 2%;

    display: flex;
    flex-direction: row;
}
.main .inlineInput input {
    height: auto;
    padding: 14px;

    background: black;
    border-radius: 10px;
    border: solid 0;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: white;
}
.main .inlineInput input:nth-child(1){
    width: calc(65% - 5px - 14px*2);
}
.main .inlineInput input:nth-child(2){
    width: calc(35% - 5px - 14px*2);
}
.main .msg {
    height: 10%;
    width: calc(85%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .msg a {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif; 
    font-size: 100%;
    font-weight: 500;
}
.main .buttons {
    height: auto;
    width: 85%;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.main .buttons a {
    height: auto;
    width: 50%;

    font-family: 'Roboto', sans-serif;
    font-size: 114%;
    color: black;
}
.main .buttons button {
    height: auto;
    width: 20%;
    margin-left: 30%;
    padding: 14px;

    background: black;
    border-radius: 10px;
    border: solid 0;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    color: white;
}
.loadDiv {
    height: 6%;
    width: 6%;
    position: absolute;
}

p {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    color: white;
}
p a {
    position: relative;
    color: white;
}

#register {
    height: 460px;
}
#register .buttons button {
    width: 32%;
}

/* MOBILE */
@media only screen and (max-width: 700px) {
    .main {
        width: 90%;
    }
    .main div button {
        width: 35%;
        margin-left: 15%;
    }
}
